
@media screen and (max-width:600px){
    
}




html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.hero{
    /* background-image: radial-gradient(circle at 52% 94%, rgba(169, 169, 169,0.04) 0%, rgba(169, 169, 169,0.04) 50%,rgba(199, 199, 199,0.04) 50%, rgba(199, 199, 199,0.04) 100%),radial-gradient(circle at 96% 98%, rgba(61, 61, 61,0.04) 0%, rgba(61, 61, 61,0.04) 50%,rgba(201, 201, 201,0.04) 50%, rgba(201, 201, 201,0.04) 100%),radial-gradient(circle at 93% 97%, rgba(227, 227, 227,0.04) 0%, rgba(227, 227, 227,0.04) 50%,rgba(145, 145, 145,0.04) 50%, rgba(145, 145, 145,0.04) 100%),radial-gradient(circle at 79% 52%, rgba(245, 245, 245,0.04) 0%, rgba(245, 245, 245,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(353deg, rgb(210, 9, 198),rgb(25, 38, 118)); */
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    min-height: 10vh;
    width: 100%;
    color: rgb(30, 28, 28);
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
    margin-right: -90px;
    margin-left: -30px;
}

nav.menu{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
    margin-left: 90px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #0000;
}

nav img{
    margin-left: -70px; 

}
  
.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section{
    background-color: #f9f9f9;
}